.row {
    line-height: 10px;
}

.pixel {
    border: 1px solid #000;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.palette {
    margin: 10px;
}

.brush {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid white;
}

.brush.selected {
    border: dotted black;
}